$padding: 25px; 

body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background-color: #008080;
}

.jumbotron h1 {
  padding-left: $padding;
  color: white;
}

.container {
  background-color: gray;
  padding: $padding $padding $padding $padding;
  margin-bottom: 20px;
}

.well {
  color: black;
}
